<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paris Nicolas</title>
    <link rel="stylesheet" href="a.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <nav class="navbar">
        <div class="navbar-left">
            <img src="perro.jfif" alt="Logo" class="navbar-logo">
            <span class="username">Nicolas Paris</span>
        </div>
        <div class="navbar-center">
            <a href="mailto:email@ejemplo.com" class="icon"><i class="fas fa-envelope"></i></a>
            <a href="https://github.com/usuario" class="icon"><i class="fab fa-github"></i></a>
            <a href="https://linkedin.com/in/usuario" class="icon"><i class="fab fa-linkedin"></i></a>
            <a href="curriculum.pdf" class="icon"><i class="fas fa-file-alt"></i></a>
        </div>
        <div class="navbar-right">
            <button class="login-button">Editar</button>
        </div>
    </nav>

    <!--banner-->
    <div class="banner"></div>
    <!--Sobre mi-->
    <div></div>
    <!--experiencia laboral-->
    <div></div>
    <!--educacion-->
    <div></div>
    <!--habilidades duras y blandas-->
    <div></div>
    <!--proyectos-->
    <div></div>
</body>
</html>